table {margin: 0 auto; 
    border-collapse: collapse; 
    width: 50%;
}

table, th, td {border: 1px solid black;}

th {height: 50px; 
    text-align: left; 
    background-color: rgb(0, 128, 79); 
    color: white; 
    text-transform: uppercase; 
    font-family: ariel; 
    font-size: 14px;
}

th, td {padding: 15px; 
    text-align: left;
    }

tr:nth-child(even) {background-color: rgb(225, 255, 239);
    }

a, li {color: rgb(122, 141, 233); 
    font-weight: bold;
    }

.code {font-family: 'Trebuchet MS';
    font-size: 13px;
    }

html, body {width: 100%; 
    text-align: center; 
    background-color: rgb(240, 243, 255);
    }



h1, h2, ul {color: rgb(0, 0, 0); 
    font-family: 'Ariel';
    }

.footer {font-family: 'Courier';
    font-size: 100%;
}